@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.barContainer .barChart::after {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
}

.barChart {
  -webkit-animation: show-bar-one 1.2s 0.1s forwards;
  -moz-animation: show-bar-one 1.2s 0.1s forwards;
  animation: show-bar-one 1.2s 0.1s forwards;
}

/* Bar Graph Horizontal Animations */
@-webkit-keyframes show-bar-one {
  0% {
    width: 0;
  }
  100% {
    width: attr(data-percentage);
  }
}

.editExpandIcon > span:nth-child(1) {
  position: fixed !important;
  width: 300px !important;
  margin-left: -10vw !important;
  z-index: 10 !important;
}

@media (max-width: 1280px) {
  .editExpandIcon > span:nth-child(1) {
    margin-left: -15vw !important;
  }
}

@media (max-width: 960px) {
  .editExpandIcon > span:nth-child(1) {
    margin-left: -20vw !important;
  }
}

@media (max-width: 770px) {
  .editExpandIcon > span:nth-child(1) {
    display: none;
  }
}
